<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<ul class="list-group my-3">
  <% @restaurant.reviews.each do |review| %>
    Note: <%= review.rating %>/5
    <li class="list-group-item my-3"><%= review.content %></li>
  <% end %>
</ul>

<p><%= link_to "Back", restaurants_path %></p>
<p><%= link_to "Add a review to #{@restaurant.name}", new_restaurant_review_path(@restaurant) %></p>